<h3>Create A Pattern!</h3>
<form action="/create-pattern" method="POST">
	<input type="text" name="pattern[name]" value="Enter Pattern Name" />
  <input type="text" name="pattern[step1url]" value="Enter Step 1 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 2 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 3 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 4 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 5 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 6 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 7 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 8 URL" />
  <input type="text" name="pattern[step1url]" value="Enter Step 9 URL" />
  <input type="text" name="pattern[original_url]" value="Enter Original URL" />
  <input type="text" name="pattern[tanglepatterns_url]" value="Enter tanglepatterns.com URL" />
	<input type="submit" value="Submit" />
</form>