<h1>Welcome to TangleTown!</h1>

<div class="row-fluid">
	<div class="span4"> 
		<h3>Laying the Groundwork</h3>
		<p>TangleTown is currently under construction, but aims to become a vibrant community and a valuable resource for practitioners of the <a href="http://www.zentangle.com" target="_blank">Zentangle&reg; Method</a>. Please check back regularly for updates, and if you have any questions or comments, feel free to <a href="mailto:admin@tangletown.net?subject=TangleTown%20Questions%20or%20Comments" target="_blank">email us</a>.
		<br /><br />
		<h3>Credits</h3>
		<p>The Zentangle&reg; Method was created by Rick Roberts and Maria Thomas and is copyrighted. Zentangle&reg; is a registered trademark of Zentangle, Inc. Learn more at <a href="http://www.zentangle.com" target="_blank">zentangle.com</a>.</p>
	</div>
	<div class="span8">
		<h3>TangleTown Brag Books</h3>
		<p>While you wait, you may be interested in our <strong>TangleTown Brag Books</strong>. These handy little albums come in two sizes: Standard and ATC. Just swing by the <strong><a href="http://www.etsy.com/shop/TangleTown" target="_blank">TangleTown Country Store</a></strong> to learn more or make a purchase.</p>
		<br />
		<div class="row-fluid">
			<div class="span6 tt-product-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-product-image" src="/images/reg-open-full.jpeg"></a>
			</div> 
			<div class="span6 tt-product-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-product-image" src="/images/reg-hand.jpeg"></a>
			</div>  
		</div>
	</div>
</div>

















