<h1>Welcome to TangleTown!</h1>

<div class="row-fluid">
	<div class="span4"> 
		<h3>Breaking Ground</h3>
		<p>TangleTown broke ground on April 23, 2013 and is currently under construction. As we expand, we hope to grow into a fun and welcoming community, as well as a handy resource to support practitioners of the <a href="http://www.zentangle.com" target="_blank">Zentangle<sup>&reg;</sup> Method</a>. Please check back regularly for updates, and if you have any questions or comments, feel free to <a href="mailto:admin@tangletown.net?subject=TangleTown%20Questions%20or%20Comments" target="_blank">email us</a>.
		<br /><br />
		<h3>Credits</h3>
		<p> TangleTown.NET was founded &amp; created by Georgia King. Georgia has been tangling since February of 2013. <a href="https://www.facebook.com/media/set/?set=a.10200670744113377.206876.1304012625&type=3" target="blank">View Georgia's Tangles &raquo;</a>
		<p>The Zentangle<sup>&reg;</sup> Method was created by Rick Roberts and Maria Thomas and is copyrighted. Zentangle&reg; is a registered trademark of Zentangle, Inc. Learn more at <a href="http://www.zentangle.com" target="_blank">zentangle.com</a>.</p>
	</div>
	<div class="span8">
		<h3>TangleTown Brag Books</h3>
		<p>While you wait, you may be interested in our <strong>TangleTown Brag Books</strong>. These handy little albums come in two sizes: Standard and ATC. Just swing by the <strong><a href="http://www.etsy.com/shop/TangleTown" target="_blank">TangleTown Country Store</a></strong> to learn more or make a purchase.</p>
		<br />
		<div class="row-fluid">
			<div class="span6 tt-product-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-product-image" src="/images/reg-open-full.jpeg"></a>
			</div> 
			<div class="span6 tt-product-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-product-image" src="/images/reg-hand.jpeg"></a>
			</div>  
		</div>
	</div>
</div>
<br /><br /><br />
<ul>
<% @patterns.each do |pattern| %>
	<li>
		<%= pattern.name %>
	</li>
<% end %>
</ul>
















