<h1>Welcome to TangleTown!</h1>

<p>This site is currently under construction, but we'll be adding some great content soon! Meanwhile, if you're looking for information about <strong>TangleTown Brag Books</strong>, just hop over to the <strong><a href="#">TangleTown Etsy Shop</a></strong> and you should find what you need. If you have any questions, feel free to <a href="mailto:admin@tangletown.net?subject=TangleTown%20Questions%20or%20Comments" target="_blank">email us</a>.</p>



